version: '3.8'
networks:
  crocobet_network:
services:
  database:
    image: 'postgres:16.0-alpine'
    container_name: postgres-prod
    networks:
      - crocobet_network
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=crocobet
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  hazelcast:
    image: 'hazelcast/hazelcast'
    container_name: hazelcast-prod
    networks:
      - crocobet_network
    ports:
      - "5701:5701"
  pulsar:
    image: 'apachepulsar/pulsar:3.1.1'
    container_name: pulsar-prod
    networks:
      - crocobet_network
    ports:
      - "6650:6650"
      - "8080:8080"
    entrypoint: "bin/pulsar standalone"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/metrics/"]
      interval: 10s
      timeout: 5s
      retries: 5
  app:
    image: 'zura/crocobet-example:latest'
    build:
      context: .
    container_name: crocobet-prod
    networks:
      - crocobet_network
    ports:
      - "8082:8080"
    depends_on:
      - database
      - hazelcast
      - pulsar
    environment:
      - SERVER_PORT=8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/crocobet
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=admin
      - PULSAR_SERVER_URL=pulsar://pulsar:6650
      - PULSAR_ADMIN_URL=http://pulsar:8080
      - HAZELCAST_PORT=5701
      - JWT_SECRET_KEY=0E29F63052E520DE00C90726734E9471B4938832A41CE50986451201F26ED1D8
      - JWT_EXPIRATION_SEC=60
  app-flink:
    image: 'zura/crocobet-example-flink:latest'
    build:
      context: .
    container_name: crocobet-flink-prod
    networks:
      - crocobet_network
    ports:
      - "8081:8081"
    depends_on:
      pulsar:
        condition: service_healthy
    environment:
      - DATASOURCE_URL=jdbc:postgresql://database:5432/crocobet
      - DATASOURCE_USERNAME=admin
      - DATASOURCE_PASSWORD=admin
      - PULSAR_SERVER_URL=pulsar://pulsar:6650
      - PULSAR_ADMIN_URL=http://pulsar:8080
      - ACTIVE_PROFILE=prod