server:
  port: 8080
  shutdown: graceful
springdoc:
  swagger-ui:
    operationsSorter: method
spring:
  main:
    banner-mode: "off"
  datasource:
    url: jdbc:postgresql://localhost:5432/crocobet
    username: admin
    password: admin
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: update
  pulsar:
    client:
      service-url: pulsar://localhost:6650
    producer:
      compression-type: lz4
    user-topic-name: user-topic
    log-topic-name: log-topic
jwt:
    key: 0E29F63052E520DE00C90726734E9471B4938832A41CE50986451201F26ED1D8
    expiration: 60
hazelcast:
  host: localhost
  port: 5701