server:
  port: ${SERVER_PORT}
  shutdown: graceful
springdoc:
  swagger-ui:
    operationsSorter: method
spring:
  main:
    banner-mode: "off"
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: update
  pulsar:
    client:
      service-url: ${PULSAR_SERVER_URL}
    producer:
      compression-type: lz4
    consumer:
      ack-timeout: 2s
      negative-ack-redelivery-delay: 1s
    user-topic-name: user-topic
    log-topic-name: log-topic
jwt:
  key: ${JWT_SECRET_KEY}
  expiration: ${JWT_EXPIRATION_SEC}
hazelcast:
  host: hazelcast-prod
  port: ${HAZELCAST_PORT}